lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results

# node
npm-debug.log
node_modules

# sublime text files
*.sublime-project
*.sublime-workspace

/tmp/
/temp/
/docs/data/
/docs/templates/

# project-specific
/test/themes/
/test/css/
